<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    {{ partial "nav.html" . }}

    <div role="main" class="container main-content">
      <h1>Travel Blog</h1>
      <div class="row">
        <div class="posts-list">
          {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
          <h2>Canada</h2>
          {{ range $pag.Pages}}
              {{ if in .Params.tags "Canada"}}
            <article class="post-preview">
              <span class="post-meta">
                {{ .Date.Format "2006-01-02" }}
              </span>
              <a href="{{ .Permalink }}">
              <span class="post-title">{{ .Title }}</span>
              </a>

             </article>
            {{ end }}
            {{ end }}
          <h2>Korea</h2>
            {{ range $pag.Pages}}
              {{ if in .Params.tags "Korea"}}
                <article class="post-preview">
                  <span class="post-meta">
                    {{ .Date.Format "2006-01-02" }}
                  </span>
                  <a href="{{ .Permalink }}">
              	  <span class="post-title">{{ .Title }}</span>
                  </a>

                 </article>
              {{ end }}
            {{ end }}
        </div>

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
        <ul class="pager main-pager">
          {{ if .Paginator.HasPrev }}
          <li class="previous">
            <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; Newer Posts</a>
          </li>
          {{ end }}
          {{ if .Paginator.HasNext }}
          <li class="next">
            <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">Older Posts &rarr;</a>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>

    </div>

    {{ partial "footer.html" . }}

  </body>
</html>
